*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #edbd3a;
}
body{
   min-width: 100vw;
   /* background-color: antiquewhite; */
}
.container{
    margin: 1rem auto 5rem;
    text-align: center;
}
.my-heading{
    color: var(--primary-color);
}
.my-description{
    font-size: larger;
    margin: 1rem;
    padding: 1rem;
}
.input-label{
    display: block;
    font-size: large;
    font-weight: bolder;
}
.my-input{
    font-size: 14px;
    outline: #fff;
    padding: 0.5rem 1rem;
    margin: 0.8rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.6rem;
    width: 100%;
    max-width: 15rem;
}
#check-button{
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.6rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
}
#check-button:hover{
    background: #c29415;
}
#error-message{
    display: block;
    font-size: larger;
    margin: 1rem 0 0;
}

/* table styling */
.my-table{
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
}
.my-table caption{
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
}
th,td{
    border: 2px solid var(--primary-color);
    width: 0%;
    padding: 0.5rem;
}

/* footer */
a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  footer p {
    font-size: large;
    text-align: center;
  }
  
  
  a,
  img,
  li {
    display: inline;
  }
  
  img {
    width: 40px;
    padding: 1rem 0.4rem;
  }
  
  @media (max-width: 900px){
    footer {
        top: 35rem;
      }
  }
    /* for extra small devices */
  
    @media (max-width: 360px){
      footer {
          top: 40rem;
        }
    }